@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-bg-dark text-slate-100 antialiased scroll-smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #a855f7);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #6366f1, #c084fc);
}
